@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
body {
  font-family: 'Inter', sans-serif;
  background-color: #f3f4f6; /* Fondo gris claro */
  color: #1f2937; /* Texto gris oscuro */
}
.carousel-container {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
.carousel-track {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  /* Hide scrollbar for different browsers */
  scrollbar-width: none;
  -ms-overflow-style: none;

  /* The blur effect on the sides for a light background */
  mask-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 10%,
    rgba(255, 255, 255, 1) 90%,
    rgba(255, 255, 255, 0) 100%
  );
  /* webkit-mask-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 10%,
    rgba(255, 255, 255, 1) 90%,
    rgba(255, 255, 255, 0) 100%
  ); */
}
.carousel-track::-webkit-scrollbar {
  display: none;
}

.carousel-item {
  flex-shrink: 0;
  width: calc(
    (100% - 80px) / 4.2
  ); /* 5 images visible with the last one partially shown */
  height: 300px;
  margin-right: 20px;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background-size: cover;
  background-position: center;
}

.integrantes {
  font-style: italic;
  color: gray;
}

@media (max-width: 768px) {
  .carousel-item {
    width: calc((100% - 40px) / 2.2);
  }
}

.image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}
.carousel-item:hover .image-overlay {
  transform: translateY(0);
}
.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  color: #1f2937;
  cursor: pointer;
  transition: color 0.3s;
  background: none;
  border: none;
  padding: 0;
}
.scroll-button:hover {
  color: #3b82f6; /* Azul brillante */
}
.left-button {
  left: 0;
}
.right-button {
  right: 0;
}