<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Artista | ArtRoom</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/nuevo_artista.css}"/>
</head>
<body class="bg-gray-100 text-gray-800 flex flex-col min-h-screen">

<header class="bg-gray-900 text-white shadow-md">
    <div class="max-w-7xl mx-auto px-6 py-6 flex justify-between items-center">
        <h1 class="text-4xl font-bold tracking-wide">
            <a th:href="@{/galeria}" class="hover:text-blue-500 transition">ArtRoom</a>
        </h1>
    </div>
</header>

<main class="obra-page mx-auto max-w-2xl flex-grow mt-10 flex w-full min-h-screen justify-center">
<div class=" container">
    <h2>Editar Perfil del Artista</h2>

    <form th:action="@{'/perfilArtista/ver/' + ${artista.id} + '/actualizar'}" method="post" class="formulario-artista" id="form-editar-artista"
          enctype="multipart/form-data">

        <div class="campo">
            <label>Foto de Perfil: </label>
            <div class="foto-container">
                <img th:src="${artista.UrlFotoPerfil}" alt="Foto Actual" class="foto-perfil" id="foto-preview" width="150">
            </div>

            <label for="fotoPerfil" class="custom-file-upload">Elegir imagen</label>
            <input type="file" id="fotoPerfil" name="fotoPerfil" accept="image/*" style="display: none">
        </div>

        <div class="campo">
            <label>Nombre:</label>
            <input type="text" name="nombre" th:value="${artista.nombre}" required>
        </div>

        <div class="campo">
            <label>Biografia:</label>
            <textarea name="biografia" th:text="${artista.biografia}"></textarea>
        </div>

        <div class="campo">
            <label>Facebook:</label>
            <input type="text" name="urlFacebook" th:value="${artista.urlFacebook}" required>
        </div>

        <div class="campo">
            <label>Instagram:</label>
            <input type="text" name="urlInstagram" th:value="${artista.urlInstagram}" required>
        </div>

        <div class="campo">
            <label>Twitter:</label>
            <input type="text" name="urlTwitter" th:value="${artista.urlTwitter}" required>
        </div>

        <div class="acciones">
            <button type="button" id="btn-cancelar" class="btn btn-cancelar" th:attr="data-id=${artista.id}">Cancelar
            </button>
            <button type="submit" id="btn-guardar" class="btn btn-guardar">Guardar Cambios</button>
        </div>
    </form>
</div>
</main>

<footer class="bg-gray-500 text-gray-200 py-6 mt-12 text-center shadow-inner">
    <p>&copy; 2025 Grupo 8</p>
    <p class="text-gray-900 text-sm">Gil - Solodujin - Landín - Santillan - Torrico</p>
</footer>

<script type="module" th:src="@{/js/artista.js}"></script>
</body>
</html>